<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>User Profile</title>
</head>

<body>
	
	<div class="container mt-4">
			
		<p class="h4  mb-4">User Profile </p>
	
		<form action="#" th:action="@{/user/save_profile}"
						 th:object="${user}" method="POST">
		
			<input type="hidden" th:field="*{username}" />
			
			<label for="html">Full Name</label>
			<input type="text" th:field="*{name}"
					class="form-control mb-4 col-4" > 
		
			<label for="html">Email</label>
			<input type="email" th:field="*{email}"
					class="form-control mb-4 col-4" >

			<label for="html">New Password</label>
			<input type="password" name="password"
			        class="form-control mb-4 col-4">
						
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/user/dashboard}" class = "btn btn-outline-secondary mb-4">&larr; Back to User Dashboard</a>
		
	</div>
</body>

</html>










