<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title>Create Use Case</title>
</head>
<body>
<div class="container mt-4">
    <h2>Create New Use Case</h2>
    <hr>
    <form th:action="@{/usecase/save/{projectId}(projectId=${projectId})}" th:object="${usecase}" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="form-group col-6 px-0">
            <label>Use Case Name</label>
            <input type="text" th:field="*{name}" class="form-control" required/>
        </div>

        <div class="form-group col-6 px-0">
            <label>Actor</label>
            <input type="text" th:field="*{actor}" class="form-control" required/>
        </div>

        <div class="form-group col-6 px-0">
            <label>Preconditions</label>
            <textarea th:field="*{preconditions}" class="form-control" rows="3" required></textarea>
        </div>

        <div class="form-group col-6 px-0">
			<label>Main Flow</label>
			<textarea th:field="*{main_flow}" class="form-control" rows="3" required></textarea>
        </div>

        <div class="form-group col-6 px-0">
            <label>Postconditions</label>
            <textarea th:field="*{postconditions}" class="form-control" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>
        <a th:href="@{/project/view_project/{id}(id=${projectId})}" class="btn btn-outline-secondary col-2">&larr; Back</a>
    </form>
</div>